.inpChek{
    transform: scale(1.2);
    margin-left: 2%;
}

.labelLipstic{
    margin-left: 4%;
    
}

.spanNumber{
font-size: 10px;
}

.btnCate{
  margin-bottom: 20px;
    border: none;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    margin-left: auto;
    
}
.catH6{
    padding-top: 4px;
    text-align: left;
}
.catInput{
    margin-left: -91px;
    width: 90%;
    height: 30px;
    display: none;
    margin-bottom: 20px;
    border: solid;
    border-color: rgb(215, 47, 103);
}
.btnCateDelete{
    margin-bottom: 10px;
    border: none;
    background-color: white;
    width: 29px;
    height: 29px;
    padding-bottom: 2px;
    margin-left: auto;
    display: none;
}