.Bundle{
    margin-left: -65%;
    margin-top: 6px;
    width: 90px;
    text-align: left;
    border:none;
    border-radius: 20px;
    height: 30px;
    font-weight: 300;
    padding-bottom: 3px;

}
.Country{
    margin-left: 1%;
    margin-top: 6px;
    width: 160px;
    text-align: left;
    border:none;
    border-radius: 20px;
    height: 30px;
    font-weight: 300;
    padding-bottom: 3px;
}

.Size{
    margin-left: 1%;
    margin-top: 6px;
    width: 60px;
    text-align: left;
    border:none;
    border-radius: 20px;
    height: 30px;
    font-weight: 300;
    padding-bottom: 3px;
}
.inpBundle1{
    
    transform: scale(1.2);
    margin-left: -75%;
}

.inpBundle{
    transform: scale(1.2);
    margin-left: 1%;
    
}
.inpLable{
    margin-left: 1%;
}
.BundleCheckDiv{
    
    margin-top: 10px;
    
    width: 100%;
}
.BundleCheckDiv1{
    margin-top: 10px;
    
    width: 100%;
    margin-left: -3px;
}

.bundClose{
   margin-left: 1%;
    margin-top: 6px;
    text-align: left;
    border:solid;
    border-width: 1px;
    border-radius: 20px;
    height: 30px;
    font-weight: 300;
    padding-bottom: 3px;
    font-size: 14px;
}

.SizeLable{
    padding-top: 11px;
    margin-left: 6%;
}